.carousel {
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;

  .carousel-indicators {

    li {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.carousel-inner {
  width: 100%;

  .item {
    width: 100%;
  }
}

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.5;
  color: none;
  text-align: center;
  text-shadow: none;
  background-color: none;

  // Hover/focus state
  &:hover, &:focus {
    outline: 0;
    text-decoration: none;
    opacity: 0.5;
  }
}
